<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer/fragments/head :: head"></head>
<!-- Thay thế bằng nội dung trong file head.html -->

<body>
	<header th:replace="customer/fragments/header :: header"></header>
	<main>


		<!-- Gọi banner từ tệp banners.html -->
		<div th:replace="customer/fragments/banners :: banners"></div>
		<!-- Thêm danh mục từ fragment -->
		<div th:replace="customer/fragments/category :: category"></div>
		<!-- Thêm sản phẩm từ fragment -->
		
		<div th:replace="customer/fragments/product :: product"></div>
		


	</main>

	<footer>
		<p>© 2024 Store. All rights reserved.</p>
	</footer>



	<!--   Core JS Files   -->
	<div th:replace="customer/fragments/script::script"> </div>
	<!-- kết thúc JS-->
</body>

</html>